@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    font-family: monospace;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    padding-left: 10px;
}

#header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.terminal {
    width: 95%;
    max-width: 100%;
    height: 75%;
    max-height: 80%;
    box-shadow: 0.5px 0.5px 1.2px 4.5px rgb(5, 56, 1);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color:rgb(0, 10, 0); 
    font-size: 110%; 
}

.output {
    flex: 1;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: auto;
    padding-right: 10px;
    margin-top: 10px;
}

.input-line {
    display: flex;
    align-items: center;
    width: 100%;
    white-space: nowrap; 
    background-color: black;
    color: white;
}

.prompt {
    color: #00FF00;
    font-size: large;
    margin-right: -6px;
}

.user-command{
    font-size: 82%;
    font-family: sans-serif;
}

.blinking-cursor {
    display: none;
    color: #00FF00;
}

.commandInput{
    font-size: 82%;
    font-family: sans-serif;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    width: 50%;
}

#commandInput:focus + .blinking-cursor {
    display: inline-block;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #00FF00;
    border-radius: 10px;
}

.cv-link {
    color: lightgreen;
    text-decoration: none;
}

.cv-link:hover {
    color: rgb(29, 255, 29);
    text-decoration: underline;
}

#gitproj{
    color: rgb(38, 145, 145);
}

#gitproj:hover {
    color: rgb(127, 188, 223);
}

.footerBottom{
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: rgb(212, 252, 207);
    font-size: smaller;
}

@media (max-width: 768px) {
    .terminal {
        width: 95%;
        height: 60%;
    }
}

@media (max-width: 480px) {
    .terminal {
        width: 100%;
        height: 50%;
    }
}
