@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    font-family: monospace;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    padding-left: 10px;
}

@keyframes fadeAway {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-color: transparent; 
    pointer-events: none;
}

#typingText {
    font-size: 20px;
    white-space: nowrap;
    font-family:monospace;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 0;
    animation: fadeAway 2s ease-out forwards;
    animation: typing 0s steps(30) 1s forwards, blink 0.50s step-end infinite;  
}


@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.terminal {
    width: 98%;
    max-width: 98%;
    height: 90%;
    max-height: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: transparent;
    font-size: 130%;
    transition: opacity 1s ease-out;
    opacity: 0;
}

.terminal.visible {
    opacity: 1;
}

.output {
    flex: 1;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: auto;
    padding-right: 10px;
    margin-top: 10px;
}

.input-line {
    display: flex;
    align-items: center;
    width: 100%;
    white-space: nowrap; 
    background-color: black;
    color: white;
}

.prompt {
    color: #00FF00;
    font-size: 100%;
    margin-right: -6px;
}

.user-command{
    font-size: 90%;
}

.blinking-cursor {
    display: none;
    color: #00FF00;
}

.commandInput{
    font-size: 80%;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    width: 50%;
}

#commandInput:focus + .blinking-cursor {
    display: inline-block;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #00FF00;
    border-radius: 10px;
}

.cv-link {
    color: lightgreen;
    text-decoration: none;
}

.cv-link:hover {
    color: rgb(29, 255, 29);
    text-decoration: underline;
}

#gitproj{
    color: rgb(162, 183, 185);
}

#gitproj:hover {
    color: rgb(52, 211, 223);
}

#video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#intro-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hidden {
    display: none;
}


@media (max-width: 768px) {
    .terminal {
        width: 95%;
        height: 90%;
    }
}

@media (max-width: 480px) {
    .terminal {
        width: 100%;
        height: 100%;
    }
}
